<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso - ADS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../img/LogoAds.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
</head>

<body class="
    <script>
        document.write(localStorage.getItem('theme') === 'dark' ? 'dark-theme' : '');
    </script>
">

    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img id="logo-img" style="width: 110px;" src="" alt="Ads Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sobre_o_curso.html">Sobre o Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="atletica.html">Atlética</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="todas_noticias.html">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="termos_de_uso.html">Termos</a>
                        </li>
                        <li class="nav-item ms-lg-3">
                            <label for="theme" class="theme">
                                <span class="theme__toggle-wrap">
                                  <input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
                                  <span class="theme__fill"></span>
                                  <span class="theme__icon">
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                    <span class="theme__icon-part"></span>
                                  </span>
                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="loading-overlay" class="loading-overlay">
        <div class="spinner"></div>
    </div>

    <div class="custom-message custom-message--success">
        <div class="message-icon">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="message-content">
            <span class="message-text">Sua operação foi concluída com sucesso!</span>
        </div>
    </div>

    <main class="container my-5">
        <div class="card p-4">
            <h1 class="text-center mb-4">Termos de Uso</h1>
            <p class="lead">
                Bem-vindo ao portal de notícias do curso de Análise e Desenvolvimento de Sistemas.
                Ao acessar e utilizar este site, você concorda em cumprir e se sujeitar aos seguintes termos e
                condições de uso. Se você não concorda com alguma parte destes termos, por favor, não utilize o
                nosso site.
            </p>

            <h2 class="mt-5">1. Propósito do Site</h2>
            <p>
                O site ADS foi criado com o objetivo de divulgar informações relevantes, notícias, eventos
                e a grade curricular do curso de Análise e Desenvolvimento de Sistemas da <a
                    style="color: rgb(255, 166, 0); text-decoration: underline;" href="https://serradocarmo.edu.br"
                    target="_blank" rel="sternal">Faculdade Serra do carmo - FASEC</a>.
                As informações aqui contidas são para fins educacionais e informativos e podem ser atualizadas
                periodicamente.
            </p>

            <h2 class="mt-4">2. Conteúdo e Direitos Autorais</h2>
            <ul>
                <li>Todo o conteúdo presente neste site, incluindo textos, imagens, gráficos, logos e notícias, é
                    de propriedade da equipe do projeto ADS Notícias ou de seus respectivos criadores.</li>
                <li>É proibida a reprodução, distribuição ou modificação do conteúdo sem autorização prévia por
                    escrito.</li>
                <li>As notícias e artigos podem conter informações de terceiros, e o site não se responsabiliza
                    pela veracidade ou precisão de todo o conteúdo externo.</li>
            </ul>

            <h2 class="mt-4">3. Responsabilidade do Usuário</h2>
            <ul>
                <li>Você concorda em utilizar o site de forma ética e legal, respeitando os direitos de
                    propriedade intelectual.</li>
                <li>O site não se responsabiliza por quaisquer danos ou perdas causadas pelo uso indevido das
                    informações aqui contidas.</li>
            </ul>

            <h2 class="mt-4">4. Acesso ao Painel Administrativo</h2>
            <p>
                O painel de administração é de acesso exclusivo para os administradores do site. O acesso por
                pessoas não autorizadas é estritamente proibido. Qualquer tentativa de acesso indevido ou
                modificação não autorizada do conteúdo do site resultará em medidas legais cabíveis.
            </p>

            <h2 class="mt-4">5. Limitação de Responsabilidade</h2>
            <p>
                O site "ADS Notícias" e seus criadores não se responsabilizam por quaisquer danos diretos,
                indiretos, acidentais ou consequentes que possam surgir do uso ou da incapacidade de usar este
                site.
            </p>

            <h2 class="mt-4">6. Alterações nos Termos de Uso</h2>
            <p>
                Estes Termos de Uso podem ser alterados a qualquer momento, sem aviso prévio. É de sua
                responsabilidade verificar esta página periodicamente para se manter informado sobre as mudanças.
            </p>

            <p class="mt-5 text-center text-muted">
                Última atualização: 17 de agosto de 2025.
            </p>
        </div>
    </main>

    <footer class="footer">
        <div class="container text-center text-md-start">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h4 class="mb-3">ADS Notícias</h4>
                    <p>O seu portal de informações sobre o curso de Análise e Desenvolvimento de Sistemas.</p>
                    <a class="footer-link" href="termos_de_uso.html">Termos de uso</a>
                    <a class="footer-link" href="sobre_o_site.html">
                        Informações sobre o Site
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <h4 class="mb-3">Siga-nos</h4>
                    <div class="footer-socials">
                        <a href="https://www.instagram.com/adsfasec?igsh=N3ByODZ1YzZ4c3V1" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.tiktok.com/@dev.fasec?_t=ZM-8ytJT184rUW&_r=1" target="_blank">
                            <i class="fab fa-tiktok"></i>
                        </a>
                        <a href="https://github.com" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <h4 class="mb-3">Contato</h4>
                    <p class="contact-item">
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=thesuport.ads@gmail.com">
                            <i class="fas fa-envelope me-2"></i> thesuport.ads@gmail.com
                        </a>
                    </p>
                    <p class="contact-item"><i class="fas fa-map-marker-alt me-2"></i> Rua de Pedestres, 103 Norte,
                        FASEC - Palmas</p>
                </div>
            </div>
            <hr class="mt-4 mb-3">
            <p class="mb-0 text-center">
                &copy; 2025 Análise e Desenvolvimento de Sistemas. Todos os direitos reservados.
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>